<div class="flex-container"  fxLayout="row" fxLayoutAlign="center center" >
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="form-group flex-item">
      <input class="form-control input-lg text" placeholder="City" name="city" ngModel type="text" id="city" (keyup)="onSearchCity(input.value)" required #input autocomplete="off">
      <button type="submit" class=" text btn-lg btn-primary">Add city</button>
    </form>
</div>
<div class="flex-container"  fxLayout="column" fxLayoutAlign="center center" >
  <div class="flex-item text found-text">
    <span>Found:</span>{{data.name}}
  </div>
</div>

